/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.img-custome{
  display: block;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}

.card-custome{
  max-width: 350px;
  min-width: 350px;
  min-height: 660px;
  max-height: 660px;
}

.btn-custom{
  min-width: 250px;
}
