@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');

.customTopScore{
    background-color: #add8e6;
    font-family: 'Sansita+Swashed';
    font-size: large;
}

.customFinalScore{
    background-color: #add8e6;
    font-family: 'Sansita+Swashed';
    font-size: large;
}